.App {
  text-align: center;
 
}

 body{
  background-color: #e0e5eb
 }

.MuiDataGrid-root .MuiDataGrid-cell {border-bottom: none !important;}
.MuiDataGrid-sortIcon {
 opacity: inherit !important;
}

.MuiDataGrid-iconButtonContainer {
    visibility: visible;
    width: 0 !important
  }